In [1]:
import numpy as np
import pandas as pd

In [2]:
dic= {
    "Name":["Ram","Shyam","Sameer","Kajal","Irfan","Rohit"],
    "Roll no":[1,2,3,4,5,6],
    "Grades":["A","B","C","C","B","A"],
    "Email":["abc@xyz.com","def@xyz.com","ghi@xyz.com","jkl@xyz.com","mno@xyz.com","qrs@xyz.com"]
}

In [3]:
dic

{'Name': ['Ram', 'Shyam', 'Sameer', 'Kajal', 'Irfan', 'Rohit'],
 'Roll no': [1, 2, 3, 4, 5, 6],
 'Grades': ['A', 'B', 'C', 'C', 'B', 'A'],
 'Email': ['abc@xyz.com',
  'def@xyz.com',
  'ghi@xyz.com',
  'jkl@xyz.com',
  'mno@xyz.com',
  'qrs@xyz.com']}

In [4]:
df = pd.DataFrame(dic)

In [5]:
df

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      C  jkl@xyz.com
4   Irfan        5      B  mno@xyz.com
5   Rohit        6      A  qrs@xyz.com

In [6]:
df.head()

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      C  jkl@xyz.com
4   Irfan        5      B  mno@xyz.com

In [7]:
df.tail()

     Name  Roll no Grades        Email
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      C  jkl@xyz.com
4   Irfan        5      B  mno@xyz.com
5   Rohit        6      A  qrs@xyz.com

In [8]:
df.head(2)

    Name  Roll no Grades        Email
0    Ram        1      A  abc@xyz.com
1  Shyam        2      B  def@xyz.com

In [9]:
df.tail(2)

    Name  Roll no Grades        Email
4  Irfan        5      B  mno@xyz.com
5  Rohit        6      A  qrs@xyz.com

In [10]:
df.describe()

        Roll no
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [11]:
cus = pd.read_csv('Customer.csv')

In [12]:
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [13]:
type(cus)

pandas.core.frame.DataFrame

In [17]:
type(cus['CustomerID'])

pandas.core.series.Series

In [19]:
cus.index

RangeIndex(start=0, stop=91, step=1)

In [20]:
cus.columns

Index(['CustomerID', 'Company Name', 'Costumer Name', 'City', 'PostalCode',
       'Country'],
      dtype='object')

In [21]:
cus.to_numpy()

array([[1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin', 12209,
        'Germany'],
       [2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo',
        'Mexico D.F.', 5021, 'Mexico'],
       [3, 'Antonio Moreno Taqueria', 'Antonio Moreno', 'Mexico D.F.',
        5023, 'Mexico'],
       [4, 'Around the Horn', 'Thomas Hardy', 'London', 34626, 'UK'],
       [5, 'Berglunds snabbkp', 'Christina Berglund', 'Lulea', 95822,
        'Sweden'],
       [6, 'Blauer See Delikatessen', 'Hanna Moos', 'Mannheim', 68306,
        'Germany'],
       [7, 'Blondel pere et fils', 'Frederique Citeaux', 'Strasbourg',
        67000, 'France'],
       [8, 'BOlido Comidas preparadas', 'Martin Sommer', 'Madrid', 28023,
        'Spain'],
       [9, 'Bon app', 'Laurence Lebihans', 'Marseille', 13008, 'France'],
       [10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', 'Tsawassen',
        254685, 'Canada'],
       [11, 'Bs Beverages', 'Victoria Ashworth', 'London', 13546, 'UK'],
       [12, 'Cactus Comidas para llevar', 'Patricio Simpson',
        'Buenos Aires', 1010, 'Argentina'],
       [13, 'Centro comercial Moctezuma', 'Francisco Chang',
        'Mexico D.F.', 5022, 'Mexico'],
       [14, 'Chop-suey Chinese', 'Yang Wang', 'Bern', 3012,
        'Switzerland'],
       [15, 'Comercio Mineiro', 'Pedro Afonso', 'Sao Paulo', 6565,
        'Brazil'],
       [16, 'Consolidated Holdings', 'Elizabeth Brown', 'London', 541684,
        'UK'],
       [17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Aachen', 52066,
        'Germany'],
       [18, 'Du monde entier', 'Janine Labrune', 'Nantes', 44000,
        'France'],
       [19, 'Eastern Connection', 'Ann Devon', 'London', 546, 'UK'],
       [20, 'Ernst Handel', 'Roland Mendel', 'Graz', 8010, 'Austria'],
       [21, 'Familia Arquibaldo', 'Aria Cruz', 'Sao Paulo', 4984,
        'Brazil'],
       [22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel',
        'Madrid', 28034, 'Spain'],
       [23, 'Folies gourmandes', 'Martine Rance', 'Lille', 59000,
        'France'],
       [24, 'Folk och fa HB', 'Maria Larsson', 'Bracke', 96825, 'Sweden'],
       [25, 'Frankenversand', 'Peter Franken', 'Mnchen', 80805,
        'Germany'],
       [26, 'France restauration', 'Carine Schmitt', 'Nantes', 44000,
        'France'],
       [27, 'Franchi S.p.A.', 'Paolo Accorti', 'Torino', 10100, 'Italy'],
       [28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Lisboa',
        1675, 'Portugal'],
       [29, 'Galeria del gastrOnomo', 'Eduardo Saavedra', 'Barcelona',
        8022, 'Spain'],
       [30, 'Godos Cocina Tipica', 'Jose Pedro Freyre', 'Sevilla', 41101,
        'Spain'],
       [31, 'Gourmet Lanchonetes', 'Andre Fonseca', 'Campinas', 76951,
        'Brazil'],
       [32, 'Great Lakes Food Market', 'Howard Snyder', 'Eugene', 97403,
        'USA'],
       [33, 'GROSELLA-Restaurante', 'Manuel Pereira', 'Caracas', 1081,
        'Venezuela'],
       [34, 'Hanari Carnes', 'Mario Pontes', 'Rio de Janeiro', 5454,
        'Brazil'],
       [35, 'HILARION-Abastos', 'Carlos Hernandez', 'San CristObal',
        5022, 'Venezuela'],
       [36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Elgin',
        97827, 'USA'],
       [37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Cork',
        18845, 'Ireland'],
       [38, 'Island Trading', 'Helen Bennett', 'Cowes', 84624, 'UK'],
       [39, 'Koniglich Essen', 'Philip Cramer', 'Brandenburg', 14776,
        'Germany'],
       [40, 'La corne dabondance', 'Daniel Tonini', 'Versailles', 78000,
        'France'],
       [41, 'La maison dAsie', 'Annette Roulet', 'Toulouse', 31000,
        'France'],
       [42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri',
        'Vancouver', 41562, 'Canada'],
       [43, 'Lazy K Kountry Store', 'John Steel', 'Walla Walla', 99362,
        'USA'],
       [44, 'Lehmanns Marktstand', 'Renate Messner', 'Frankfurt a.M.',
        60528, 'Germany'],
       [45, 'Lets Stop N Shop', 'Jaime Yorres', 'San Francisco', 94117,
        'USA'],
       [46, 'LILA-Supermercado', 'Carlos Gonzalez', 'Barquisimeto', 3508,
        'Venezuela'],
       [47, 'LINO-Delicateses', 'Felipe Izquierdo', 'I. de Margarita',
        4980, 'Venezuela'],
       [48, 'Lonesome Pine Restaurant', 'Fran Wilson', 'Portland', 97219,
        'USA'],
       [49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli',
        'Bergamo', 24100, 'Italy'],
       [50, 'Maison Dewey', 'Catherine Dewey', 'Bruxelles', 21365,
        'Belgium'],
       [51, 'Mere Paillarde', 'Jean Fresniere', 'Montreal', 69162,
        'Canada'],
       [52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Leipzig', 4179,
        'Germany'],
       [53, 'North/South', 'Simon Crowther', 'London', 196215, 'UK'],
       [54, 'Oceano Atlantico Ltda.', 'Yvonne Moncada', 'Buenos Aires',
        1010, 'Argentina'],
       [55, 'Old World Delicatessen', 'Rene Phillips', 'Anchorage',
        99508, 'USA'],
       [56, 'Ottilies Kaseladen', 'Henriette Pfalzheim', 'Koln', 50739,
        'Germany'],
       [57, 'Paris specialites', 'Marie Bertrand', 'Paris', 75012,
        'France'],
       [58, 'Pericles Comidas clasicas', 'Guillermo Fernandez',
        'Mexico D.F.', 5033, 'Mexico'],
       [59, 'Piccolo und mehr', 'Georg Pipps', 'Salzburg', 5020,
        'Austria'],
       [60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Lisboa',
        1756, 'Portugal'],
       [61, 'Que Delicia', 'Bernardo Batista', 'Rio de Janeiro', 816466,
        'Brazil'],
       [62, 'Queen Cozinha', 'Lucia Carvalho', 'Sao Paulo', 851306,
        'Brazil'],
       [63, 'QUICK-Stop', 'Horst Kloss', 'Cunewalde', 1307, 'Germany'],
       [64, 'Rancho grande', 'Sergio Gutierrez', 'Buenos Aires', 1010,
        'Argentina'],
       [65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Albuquerque',
        87110, 'USA'],
       [66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Reggio Emilia',
        42100, 'Italy'],
       [67, 'Ricardo Adocicados', 'Janete Limeira', 'Rio de Janeiro',
        84646, 'Brazil'],
       [68, 'Richter Supermarkt', 'Michael Holz', 'Geneve', 1203,
        'Switzerland'],
       [69, 'Romero y tomillo', 'Alejandra Camino', 'Madrid', 28001,
        'Spain'],
       [70, 'Sante Gourmet', 'Jonas Bergulfsen', 'Stavern', 4110,
        'Norway'],
       [71, 'Save-a-lot Markets', 'Jose Pavarotti', 'Boise', 83720,
        'USA'],
       [72, 'Seven Seas Imports', 'Hari Kumar', 'London', 85114, 'UK'],
       [73, 'Simons bistro', 'Jytte Petersen', 'Kbenhavn', 1734,
        'Denmark'],
       [74, 'Specialites du monde', 'Dominique Perrier', 'Paris', 75016,
        'France'],
       [75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Lander',
        82520, 'USA'],
       [76, 'Supremes delices', 'Pascale Cartrain', 'Charleroi', 21564,
        'Belgium'],
       [77, 'The Big Cheese', 'Liz Nixon', 'Portland', 97201, 'USA'],
       [78, 'The Cracker Box', 'Liu Wong', 'Butte', 59801, 'USA'],
       [79, 'Toms Spezialitaten', 'Karin Josephs', 'Münster', 44087,
        'Germany'],
       [80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Mexico D.F.',
        5033, 'Mexico'],
       [81, 'Tradicao Hipermercados', 'Anabela Domingues', 'Sao Paulo',
        51398, 'Brazil'],
       [82, 'Trails Head Gourmet Provisioners', 'Helvetius Nagy',
        'Kirkland', 98034, 'USA'],
       [83, 'Vaffeljernet', 'Palle Ibsen', 'rhus', 8200, 'Denmark'],
       [84, 'Victuailles en stock', 'Mary Saveley', 'Lyon', 69004,
        'France'],
       [85, 'Vins et alcools Chevalier', 'Paul Henriot', 'Reims', 51100,
        'France'],
       [86, 'Die Wandernde Kuh', 'Rita Müller', 'Stuttgart', 70563,
        'Germany'],
       [87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Oulu', 90110,
        'Finland'],
       [88, 'Wellington Importadora', 'Paula Parente', 'Resende', 51849,
        'Brazil'],
       [89, 'White Clover Markets', 'Karl Jablonski', 'Seattle', 98128,
        'USA'],
       [90, 'Wilman Kala', 'Matti Karttunen', 'Helsinki', 21240,
        'Finland'],
       [91, 'Wolski', 'Zbyszek', 'Walla', 56189, 'Poland']], dtype=object)

In [22]:
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [24]:
cus.T

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
CustomerID,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
Company Name,Alfreds Futterkiste,Ana Trujillo Emparedados y helados,Antonio Moreno Taqueria,Around the Horn,Berglunds snabbkp,Blauer See Delikatessen,Blondel pere et fils,BOlido Comidas preparadas,Bon app,Bottom-Dollar Marketse,...,Trails Head Gourmet Provisioners,Vaffeljernet,Victuailles en stock,Vins et alcools Chevalier,Die Wandernde Kuh,Wartian Herkku,Wellington Importadora,White Clover Markets,Wilman Kala,Wolski
Costumer Name,Maria Anders,Ana Trujillo,Antonio Moreno,Thomas Hardy,Christina Berglund,Hanna Moos,Frederique Citeaux,Martin Sommer,Laurence Lebihans,Elizabeth Lincoln,...,Helvetius Nagy,Palle Ibsen,Mary Saveley,Paul Henriot,Rita Müller,Pirkko Koskitalo,Paula Parente,Karl Jablonski,Matti Karttunen,Zbyszek
City,Berlin,Mexico D.F.,Mexico D.F.,London,Lulea,Mannheim,Strasbourg,Madrid,Marseille,Tsawassen,...,Kirkland,rhus,Lyon,Reims,Stuttgart,Oulu,Resende,Seattle,Helsinki,Walla
PostalCode,12209,5021,5023,34626,95822,68306,67000,28023,13008,254685,...,98034,8200,69004,51100,70563,90110,51849,98128,21240,56189
Country,Germany,Mexico,Mexico,UK,Sweden,Germany,France,Spain,France,Canada,...,USA,Denmark,France,France,Germany,Finland,Brazil,USA,Finland,Poland

In [25]:
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [30]:
cus.drop('Company Name',axis=1)

    CustomerID       Costumer Name         City  PostalCode  Country
0            1        Maria Anders       Berlin       12209  Germany
1            2        Ana Trujillo  Mexico D.F.        5021   Mexico
2            3      Antonio Moreno  Mexico D.F.        5023   Mexico
3            4        Thomas Hardy       London       34626       UK
4            5  Christina Berglund        Lulea       95822   Sweden
..         ...                 ...          ...         ...      ...
86          87    Pirkko Koskitalo         Oulu       90110  Finland
87          88       Paula Parente      Resende       51849   Brazil
88          89      Karl Jablonski      Seattle       98128      USA
89          90     Matti Karttunen     Helsinki       21240  Finland
90          91             Zbyszek        Walla       56189   Poland

[91 rows x 5 columns]

In [32]:
cus.loc[(48,78),('Company Name','Costumer Name')]

                    Company Name     Costumer Name
48  Magazzini Alimentari Riuniti  Giovanni Rovelli
78            Toms Spezialitaten     Karin Josephs

In [36]:
cus.loc[tuple((np.arange(48,78))),('Company Name','Costumer Name')]

                    Company Name        Costumer Name
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong

In [37]:
cus.loc[np.arange(48,78),('Company Name','Costumer Name')]

                    Company Name        Costumer Name
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong

In [38]:
cus.loc[np.arange(48,78),:]

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
48,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Bergamo,24100,Italy
49,50,Maison Dewey,Catherine Dewey,Bruxelles,21365,Belgium
50,51,Mere Paillarde,Jean Fresniere,Montreal,69162,Canada
51,52,Morgenstern Gesundkost,Alexander Feuer,Leipzig,4179,Germany
52,53,North/South,Simon Crowther,London,196215,UK
53,54,Oceano Atlantico Ltda.,Yvonne Moncada,Buenos Aires,1010,Argentina
54,55,Old World Delicatessen,Rene Phillips,Anchorage,99508,USA
55,56,Ottilies Kaseladen,Henriette Pfalzheim,Koln,50739,Germany
56,57,Paris specialites,Marie Bertrand,Paris,75012,France
57,58,Pericles Comidas clasicas,Guillermo Fernandez,Mexico D.F.,5033,Mexico
58,59,Piccolo und mehr,Georg Pipps,Salzburg,5020,Austria
59,60,Princesa Isabel Vinhoss,Isabel de Castro,Lisboa,1756,Portugal
60,61,Que Delicia,Bernardo Batista,Rio de Janeiro,816466,Brazil
61,62,Queen Cozinha,Lucia Carvalho,Sao Paulo,851306,Brazil
62,63,QUICK-Stop,Horst Kloss,Cunewalde,1307,Germany
63,64,Rancho grande,Sergio Gutierrez,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,Rio de Janeiro,84646,Brazil
67,68,Richter Supermarkt,Michael Holz,Geneve,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,Madrid,28001,Spain
69,70,Sante Gourmet,Jonas Bergulfsen,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,London,85114,UK
72,73,Simons bistro,Jytte Petersen,Kbenhavn,1734,Denmark
73,74,Specialites du monde,Dominique Perrier,Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,Lander,82520,USA
75,76,Supremes delices,Pascale Cartrain,Charleroi,21564,Belgium
76,77,The Big Cheese,Liz Nixon,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,Butte,59801,USA

In [39]:
cus.loc[:,'Company Name']

0                    Alfreds Futterkiste
1     Ana Trujillo Emparedados y helados
2                Antonio Moreno Taqueria
3                        Around the Horn
4                      Berglunds snabbkp
                     ...
86                        Wartian Herkku
87                Wellington Importadora
88                  White Clover Markets
89                           Wilman Kala
90                                Wolski
Name: Company Name, Length: 91, dtype: object

In [40]:
np.array(cus.loc[:,'Company Name'])

array(['Alfreds Futterkiste', 'Ana Trujillo Emparedados y helados',
       'Antonio Moreno Taqueria', 'Around the Horn', 'Berglunds snabbkp',
       'Blauer See Delikatessen', 'Blondel pere et fils',
       'BOlido Comidas preparadas', 'Bon app', 'Bottom-Dollar Marketse',
       'Bs Beverages', 'Cactus Comidas para llevar',
       'Centro comercial Moctezuma', 'Chop-suey Chinese',
       'Comercio Mineiro', 'Consolidated Holdings',
       'Drachenblut Delikatessend', 'Du monde entier',
       'Eastern Connection', 'Ernst Handel', 'Familia Arquibaldo',
       'FISSA Fabrica Inter. Salchichas S.A.', 'Folies gourmandes',
       'Folk och fa HB', 'Frankenversand', 'France restauration',
       'Franchi S.p.A.', 'Furia Bacalhau e Frutos do Mar',
       'Galeria del gastrOnomo', 'Godos Cocina Tipica',
       'Gourmet Lanchonetes', 'Great Lakes Food Market',
       'GROSELLA-Restaurante', 'Hanari Carnes', 'HILARION-Abastos',
       'Hungry Coyote Import Store', 'Hungry Owl All-Night Grocers',
       'Island Trading', 'Koniglich Essen', 'La corne dabondance',
       'La maison dAsie', 'Laughing Bacchus Wine Cellars',
       'Lazy K Kountry Store', 'Lehmanns Marktstand', 'Lets Stop N Shop',
       'LILA-Supermercado', 'LINO-Delicateses',
       'Lonesome Pine Restaurant', 'Magazzini Alimentari Riuniti',
       'Maison Dewey', 'Mere Paillarde', 'Morgenstern Gesundkost',
       'North/South', 'Oceano Atlantico Ltda.', 'Old World Delicatessen',
       'Ottilies Kaseladen', 'Paris specialites',
       'Pericles Comidas clasicas', 'Piccolo und mehr',
       'Princesa Isabel Vinhoss', 'Que Delicia', 'Queen Cozinha',
       'QUICK-Stop', 'Rancho grande', 'Rattlesnake Canyon Grocery',
       'Reggiani Caseifici', 'Ricardo Adocicados', 'Richter Supermarkt',
       'Romero y tomillo', 'Sante Gourmet', 'Save-a-lot Markets',
       'Seven Seas Imports', 'Simons bistro', 'Specialites du monde',
       'Split Rail Beer & Ale', 'Supremes delices', 'The Big Cheese',
       'The Cracker Box', 'Toms Spezialitaten', 'Tortuga Restaurante',
       'Tradicao Hipermercados', 'Trails Head Gourmet Provisioners',
       'Vaffeljernet', 'Victuailles en stock',
       'Vins et alcools Chevalier', 'Die Wandernde Kuh', 'Wartian Herkku',
       'Wellington Importadora', 'White Clover Markets', 'Wilman Kala',
       'Wolski'], dtype=object)

In [41]:
CN=cus.loc[:,'Company Name']
CN

0                    Alfreds Futterkiste
1     Ana Trujillo Emparedados y helados
2                Antonio Moreno Taqueria
3                        Around the Horn
4                      Berglunds snabbkp
                     ...
86                        Wartian Herkku
87                Wellington Importadora
88                  White Clover Markets
89                           Wilman Kala
90                                Wolski
Name: Company Name, Length: 91, dtype: object

In [42]:
company_data = {
    1: {"company_name": "Tech Innovators", "employee_name": "Alice Johnson", "position": "Software Engineer"},
    2: {"company_name": "Creative Solutions", "employee_name": "Bob Smith", "position": "Graphic Designer"},
    3: {"company_name": "Market Gurus", "employee_name": "Carol White", "position": "Marketing Manager"},
    4: {"company_name": "Finance Experts", "employee_name": "David Brown", "position": "Financial Analyst"},
    5: {"company_name": "HealthFirst", "employee_name": "Eve Davis", "position": "Healthcare Administrator"},
    6: {"company_name": "EduTech", "employee_name": "Frank Miller", "position": "Curriculum Developer"},
    7: {"company_name": "Retail Giants", "employee_name": "Grace Wilson", "position": "Store Manager"},
    8: {"company_name": "AutoMobility", "employee_name": "Henry Taylor", "position": "Mechanical Engineer"},
    9: {"company_name": "Green Energy", "employee_name": "Ivy Moore", "position": "Environmental Scientist"},
    10: {"company_name": "Foodies Inc.", "employee_name": "Jack Anderson", "position": "Chef"},
    11: {"company_name": "Media House", "employee_name": "Kate Thompson", "position": "Journalist"},
    12: {"company_name": "Travel Experts", "employee_name": "Leo Walker", "position": "Travel Agent"},
    13: {"company_name": "Logistics Pro", "employee_name": "Mia Harris", "position": "Logistics Coordinator"},
    14: {"company_name": "Tech Innovators", "employee_name": "Nathan Clark", "position": "Data Scientist"},
    15: {"company_name": "Creative Solutions", "employee_name": "Olivia Lewis", "position": "UX Designer"},
    16: {"company_name": "Market Gurus", "employee_name": "Paul Robinson", "position": "SEO Specialist"},
    17: {"company_name": "Finance Experts", "employee_name": "Quinn Hall", "position": "Accountant"},
    18: {"company_name": "HealthFirst", "employee_name": "Rachel Young", "position": "Nurse"},
    19: {"company_name": "EduTech", "employee_name": "Sam King", "position": "E-Learning Specialist"},
    20: {"company_name": "Retail Giants", "employee_name": "Tina Scott", "position": "Sales Associate"},
    21: {"company_name": "AutoMobility", "employee_name": "Umar Green", "position": "Automotive Technician"},
    22: {"company_name": "Green Energy", "employee_name": "Vera Adams", "position": "Renewable Energy Engineer"},
    23: {"company_name": "Foodies Inc.", "employee_name": "Will Baker", "position": "Pastry Chef"},
    24: {"company_name": "Media House", "employee_name": "Xena Martin", "position": "Photographer"},
    25: {"company_name": "Travel Experts", "employee_name": "Yara Perez", "position": "Tour Guide"},
    26: {"company_name": "Logistics Pro", "employee_name": "Zane Campbell", "position": "Warehouse Manager"},
    27: {"company_name": "Tech Innovators", "employee_name": "Aaron Lee", "position": "IT Support Specialist"},
    28: {"company_name": "Creative Solutions", "employee_name": "Bella Young", "position": "Content Writer"},
    29: {"company_name": "Market Gurus", "employee_name": "Chris Nelson", "position": "Market Research Analyst"},
    30: {"company_name": "Finance Experts", "employee_name": "Dana Parker", "position": "Investment Advisor"},
    31: {"company_name": "HealthFirst", "employee_name": "Eli Reed", "position": "Medical Assistant"},
    32: {"company_name": "EduTech", "employee_name": "Fiona Turner", "position": "Instructional Designer"},
    33: {"company_name": "Retail Giants", "employee_name": "George Hughes", "position": "Customer Service Representative"},
    34: {"company_name": "AutoMobility", "employee_name": "Hannah Long", "position": "Automotive Engineer"},
    35: {"company_name": "Green Energy", "employee_name": "Ian Rogers", "position": "Sustainability Consultant"},
    36: {"company_name": "Foodies Inc.", "employee_name": "Jane Sanders", "position": "Restaurant Manager"},
    37: {"company_name": "Media House", "employee_name": "Kyle Fisher", "position": "Editor"},
    38: {"company_name": "Travel Experts", "employee_name": "Luna Griffin", "position": "Travel Consultant"},
    39: {"company_name": "Logistics Pro", "employee_name": "Mike Collins", "position": "Supply Chain Analyst"},
    40: {"company_name": "Tech Innovators", "employee_name": "Nina Powell", "position": "Systems Administrator"},
    41: {"company_name": "Creative Solutions", "employee_name": "Omar Price", "position": "Art Director"},
    42: {"company_name": "Market Gurus", "employee_name": "Paula Richardson", "position": "Digital Marketing Specialist"},
    43: {"company_name": "Finance Experts", "employee_name": "Quincy Ward", "position": "Credit Analyst"},
    44: {"company_name": "HealthFirst", "employee_name": "Rose Barnes", "position": "Physician Assistant"},
    45: {"company_name": "EduTech", "employee_name": "Steve Morgan", "position": "Educational Consultant"},
    46: {"company_name": "Retail Giants", "employee_name": "Tara Murphy", "position": "Merchandise Planner"},
    47: {"company_name": "AutoMobility", "employee_name": "Ulysses Fox", "position": "Vehicle Inspector"},
    48: {"company_name": "Green Energy", "employee_name": "Valerie Cooper", "position": "Energy Consultant"},
    49: {"company_name": "Foodies Inc.", "employee_name": "Wendy Simmons", "position": "Sous Chef"},
    50: {"company_name": "Media House", "employee_name": "Xander Lee", "position": "Broadcast Technician"}
}

print(company_data)

{1: {'company_name': 'Tech Innovators', 'employee_name': 'Alice Johnson', 'position': 'Software Engineer'}, 2: {'company_name': 'Creative Solutions', 'employee_name': 'Bob Smith', 'position': 'Graphic Designer'}, 3: {'company_name': 'Market Gurus', 'employee_name': 'Carol White', 'position': 'Marketing Manager'}, 4: {'company_name': 'Finance Experts', 'employee_name': 'David Brown', 'position': 'Financial Analyst'}, 5: {'company_name': 'HealthFirst', 'employee_name': 'Eve Davis', 'position': 'Healthcare Administrator'}, 6: {'company_name': 'EduTech', 'employee_name': 'Frank Miller', 'position': 'Curriculum Developer'}, 7: {'company_name': 'Retail Giants', 'employee_name': 'Grace Wilson', 'position': 'Store Manager'}, 8: {'company_name': 'AutoMobility', 'employee_name': 'Henry Taylor', 'position': 'Mechanical Engineer'}, 9: {'company_name': 'Green Energy', 'employee_name': 'Ivy Moore', 'position': 'Environmental Scientist'}, 10: {'company_name': 'Foodies Inc.', 'employee_name': 'Jack Anderson', 'position': 'Chef'}, 11: {'company_name': 'Media House', 'employee_name': 'Kate Thompson', 'position': 'Journalist'}, 12: {'company_name': 'Travel Experts', 'employee_name': 'Leo Walker', 'position': 'Travel Agent'}, 13: {'company_name': 'Logistics Pro', 'employee_name': 'Mia Harris', 'position': 'Logistics Coordinator'}, 14: {'company_name': 'Tech Innovators', 'employee_name': 'Nathan Clark', 'position': 'Data Scientist'}, 15: {'company_name': 'Creative Solutions', 'employee_name': 'Olivia Lewis', 'position': 'UX Designer'}, 16: {'company_name': 'Market Gurus', 'employee_name': 'Paul Robinson', 'position': 'SEO Specialist'}, 17: {'company_name': 'Finance Experts', 'employee_name': 'Quinn Hall', 'position': 'Accountant'}, 18: {'company_name': 'HealthFirst', 'employee_name': 'Rachel Young', 'position': 'Nurse'}, 19: {'company_name': 'EduTech', 'employee_name': 'Sam King', 'position': 'E-Learning Specialist'}, 20: {'company_name': 'Retail Giants', 'employee_name': 'Tina Scott', 'position': 'Sales Associate'}, 21: {'company_name': 'AutoMobility', 'employee_name': 'Umar Green', 'position': 'Automotive Technician'}, 22: {'company_name': 'Green Energy', 'employee_name': 'Vera Adams', 'position': 'Renewable Energy Engineer'}, 23: {'company_name': 'Foodies Inc.', 'employee_name': 'Will Baker', 'position': 'Pastry Chef'}, 24: {'company_name': 'Media House', 'employee_name': 'Xena Martin', 'position': 'Photographer'}, 25: {'company_name': 'Travel Experts', 'employee_name': 'Yara Perez', 'position': 'Tour Guide'}, 26: {'company_name': 'Logistics Pro', 'employee_name': 'Zane Campbell', 'position': 'Warehouse Manager'}, 27: {'company_name': 'Tech Innovators', 'employee_name': 'Aaron Lee', 'position': 'IT Support Specialist'}, 28: {'company_name': 'Creative Solutions', 'employee_name': 'Bella Young', 'position': 'Content Writer'}, 29: {'company_name': 'Market Gurus', 'employee_name': 'Chris Nelson', 'position': 'Market Research Analyst'}, 30: {'company_name': 'Finance Experts', 'employee_name': 'Dana Parker', 'position': 'Investment Advisor'}, 31: {'company_name': 'HealthFirst', 'employee_name': 'Eli Reed', 'position': 'Medical Assistant'}, 32: {'company_name': 'EduTech', 'employee_name': 'Fiona Turner', 'position': 'Instructional Designer'}, 33: {'company_name': 'Retail Giants', 'employee_name': 'George Hughes', 'position': 'Customer Service Representative'}, 34: {'company_name': 'AutoMobility', 'employee_name': 'Hannah Long', 'position': 'Automotive Engineer'}, 35: {'company_name': 'Green Energy', 'employee_name': 'Ian Rogers', 'position': 'Sustainability Consultant'}, 36: {'company_name': 'Foodies Inc.', 'employee_name': 'Jane Sanders', 'position': 'Restaurant Manager'}, 37: {'company_name': 'Media House', 'employee_name': 'Kyle Fisher', 'position': 'Editor'}, 38: {'company_name': 'Travel Experts', 'employee_name': 'Luna Griffin', 'position': 'Travel Consultant'}, 39: {'company_name': 'Logistics Pro', 'employee_name': 'Mike Collins', 'position': 'Supply Chain Analyst'}, 40: {'company_name': 'Tech Innovators', 'employee_name': 'Nina Powell', 'position': 'Systems Administrator'}, 41: {'company_name': 'Creative Solutions', 'employee_name': 'Omar Price', 'position': 'Art Director'}, 42: {'company_name': 'Market Gurus', 'employee_name': 'Paula Richardson', 'position': 'Digital Marketing Specialist'}, 43: {'company_name': 'Finance Experts', 'employee_name': 'Quincy Ward', 'position': 'Credit Analyst'}, 44: {'company_name': 'HealthFirst', 'employee_name': 'Rose Barnes', 'position': 'Physician Assistant'}, 45: {'company_name': 'EduTech', 'employee_name': 'Steve Morgan', 'position': 'Educational Consultant'}, 46: {'company_name': 'Retail Giants', 'employee_name': 'Tara Murphy', 'position': 'Merchandise Planner'}, 47: {'company_name': 'AutoMobility', 'employee_name': 'Ulysses Fox', 'position': 'Vehicle Inspector'}, 48: {'company_name': 'Green Energy', 'employee_name': 'Valerie Cooper', 'position': 'Energy Consultant'}, 49: {'company_name': 'Foodies Inc.', 'employee_name': 'Wendy Simmons', 'position': 'Sous Chef'}, 50: {'company_name': 'Media House', 'employee_name': 'Xander Lee', 'position': 'Broadcast Technician'}}

In [43]:
cd=pd.DataFrame(company_data)
cd

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
company_name,Tech Innovators,Creative Solutions,Market Gurus,Finance Experts,HealthFirst,EduTech,Retail Giants,AutoMobility,Green Energy,Foodies Inc.,...,Creative Solutions,Market Gurus,Finance Experts,HealthFirst,EduTech,Retail Giants,AutoMobility,Green Energy,Foodies Inc.,Media House
employee_name,Alice Johnson,Bob Smith,Carol White,David Brown,Eve Davis,Frank Miller,Grace Wilson,Henry Taylor,Ivy Moore,Jack Anderson,...,Omar Price,Paula Richardson,Quincy Ward,Rose Barnes,Steve Morgan,Tara Murphy,Ulysses Fox,Valerie Cooper,Wendy Simmons,Xander Lee
position,Software Engineer,Graphic Designer,Marketing Manager,Financial Analyst,Healthcare Administrator,Curriculum Developer,Store Manager,Mechanical Engineer,Environmental Scientist,Chef,...,Art Director,Digital Marketing Specialist,Credit Analyst,Physician Assistant,Educational Consultant,Merchandise Planner,Vehicle Inspector,Energy Consultant,Sous Chef,Broadcast Technician

In [44]:
cd=cd.T

In [45]:
cd

          company_name     employee_name                         position
1      Tech Innovators     Alice Johnson                Software Engineer
2   Creative Solutions         Bob Smith                 Graphic Designer
3         Market Gurus       Carol White                Marketing Manager
4      Finance Experts       David Brown                Financial Analyst
5          HealthFirst         Eve Davis         Healthcare Administrator
6              EduTech      Frank Miller             Curriculum Developer
7        Retail Giants      Grace Wilson                    Store Manager
8         AutoMobility      Henry Taylor              Mechanical Engineer
9         Green Energy         Ivy Moore          Environmental Scientist
10        Foodies Inc.     Jack Anderson                             Chef
11         Media House     Kate Thompson                       Journalist
12      Travel Experts        Leo Walker                     Travel Agent
13       Logistics Pro        Mia Harris            Logistics Coordinator
14     Tech Innovators      Nathan Clark                   Data Scientist
15  Creative Solutions      Olivia Lewis                      UX Designer
16        Market Gurus     Paul Robinson                   SEO Specialist
17     Finance Experts        Quinn Hall                       Accountant
18         HealthFirst      Rachel Young                            Nurse
19             EduTech          Sam King            E-Learning Specialist
20       Retail Giants        Tina Scott                  Sales Associate
21        AutoMobility        Umar Green            Automotive Technician
22        Green Energy        Vera Adams        Renewable Energy Engineer
23        Foodies Inc.        Will Baker                      Pastry Chef
24         Media House       Xena Martin                     Photographer
25      Travel Experts        Yara Perez                       Tour Guide
26       Logistics Pro     Zane Campbell                Warehouse Manager
27     Tech Innovators         Aaron Lee            IT Support Specialist
28  Creative Solutions       Bella Young                   Content Writer
29        Market Gurus      Chris Nelson          Market Research Analyst
30     Finance Experts       Dana Parker               Investment Advisor
31         HealthFirst          Eli Reed                Medical Assistant
32             EduTech      Fiona Turner           Instructional Designer
33       Retail Giants     George Hughes  Customer Service Representative
34        AutoMobility       Hannah Long              Automotive Engineer
35        Green Energy        Ian Rogers        Sustainability Consultant
36        Foodies Inc.      Jane Sanders               Restaurant Manager
37         Media House       Kyle Fisher                           Editor
38      Travel Experts      Luna Griffin                Travel Consultant
39       Logistics Pro      Mike Collins             Supply Chain Analyst
40     Tech Innovators       Nina Powell            Systems Administrator
41  Creative Solutions        Omar Price                     Art Director
42        Market Gurus  Paula Richardson     Digital Marketing Specialist
43     Finance Experts       Quincy Ward                   Credit Analyst
44         HealthFirst       Rose Barnes              Physician Assistant
45             EduTech      Steve Morgan           Educational Consultant
46       Retail Giants       Tara Murphy              Merchandise Planner
47        AutoMobility       Ulysses Fox                Vehicle Inspector
48        Green Energy    Valerie Cooper                Energy Consultant
49        Foodies Inc.     Wendy Simmons                        Sous Chef
50         Media House        Xander Lee             Broadcast Technician

In [52]:
cd.drop_duplicates(subset='company_name',keep=False)

Empty DataFrame
Columns: [company_name, employee_name, position]
Index: []

In [53]:
cd

          company_name     employee_name                         position
1      Tech Innovators     Alice Johnson                Software Engineer
2   Creative Solutions         Bob Smith                 Graphic Designer
3         Market Gurus       Carol White                Marketing Manager
4      Finance Experts       David Brown                Financial Analyst
5          HealthFirst         Eve Davis         Healthcare Administrator
6              EduTech      Frank Miller             Curriculum Developer
7        Retail Giants      Grace Wilson                    Store Manager
8         AutoMobility      Henry Taylor              Mechanical Engineer
9         Green Energy         Ivy Moore          Environmental Scientist
10        Foodies Inc.     Jack Anderson                             Chef
11         Media House     Kate Thompson                       Journalist
12      Travel Experts        Leo Walker                     Travel Agent
13       Logistics Pro        Mia Harris            Logistics Coordinator
14     Tech Innovators      Nathan Clark                   Data Scientist
15  Creative Solutions      Olivia Lewis                      UX Designer
16        Market Gurus     Paul Robinson                   SEO Specialist
17     Finance Experts        Quinn Hall                       Accountant
18         HealthFirst      Rachel Young                            Nurse
19             EduTech          Sam King            E-Learning Specialist
20       Retail Giants        Tina Scott                  Sales Associate
21        AutoMobility        Umar Green            Automotive Technician
22        Green Energy        Vera Adams        Renewable Energy Engineer
23        Foodies Inc.        Will Baker                      Pastry Chef
24         Media House       Xena Martin                     Photographer
25      Travel Experts        Yara Perez                       Tour Guide
26       Logistics Pro     Zane Campbell                Warehouse Manager
27     Tech Innovators         Aaron Lee            IT Support Specialist
28  Creative Solutions       Bella Young                   Content Writer
29        Market Gurus      Chris Nelson          Market Research Analyst
30     Finance Experts       Dana Parker               Investment Advisor
31         HealthFirst          Eli Reed                Medical Assistant
32             EduTech      Fiona Turner           Instructional Designer
33       Retail Giants     George Hughes  Customer Service Representative
34        AutoMobility       Hannah Long              Automotive Engineer
35        Green Energy        Ian Rogers        Sustainability Consultant
36        Foodies Inc.      Jane Sanders               Restaurant Manager
37         Media House       Kyle Fisher                           Editor
38      Travel Experts      Luna Griffin                Travel Consultant
39       Logistics Pro      Mike Collins             Supply Chain Analyst
40     Tech Innovators       Nina Powell            Systems Administrator
41  Creative Solutions        Omar Price                     Art Director
42        Market Gurus  Paula Richardson     Digital Marketing Specialist
43     Finance Experts       Quincy Ward                   Credit Analyst
44         HealthFirst       Rose Barnes              Physician Assistant
45             EduTech      Steve Morgan           Educational Consultant
46       Retail Giants       Tara Murphy              Merchandise Planner
47        AutoMobility       Ulysses Fox                Vehicle Inspector
48        Green Energy    Valerie Cooper                Energy Consultant
49        Foodies Inc.     Wendy Simmons                        Sous Chef
50         Media House        Xander Lee             Broadcast Technician

In [55]:
cd.to_csv('company data.csv',index=False)

# xlrd and openpyxl are the libraries to handel excel files in pandas

In [56]:
com_dat=pd.read_csv('company data.csv')
com_dat

          company_name     employee_name                         position
0      Tech Innovators     Alice Johnson                Software Engineer
1   Creative Solutions         Bob Smith                 Graphic Designer
2         Market Gurus       Carol White                Marketing Manager
3      Finance Experts       David Brown                Financial Analyst
4          HealthFirst         Eve Davis         Healthcare Administrator
5              EduTech      Frank Miller             Curriculum Developer
6        Retail Giants      Grace Wilson                    Store Manager
7         AutoMobility      Henry Taylor              Mechanical Engineer
8         Green Energy         Ivy Moore          Environmental Scientist
9         Foodies Inc.     Jack Anderson                             Chef
10         Media House     Kate Thompson                       Journalist
11      Travel Experts        Leo Walker                     Travel Agent
12       Logistics Pro        Mia Harris            Logistics Coordinator
13     Tech Innovators      Nathan Clark                   Data Scientist
14  Creative Solutions      Olivia Lewis                      UX Designer
15        Market Gurus     Paul Robinson                   SEO Specialist
16     Finance Experts        Quinn Hall                       Accountant
17         HealthFirst      Rachel Young                            Nurse
18             EduTech          Sam King            E-Learning Specialist
19       Retail Giants        Tina Scott                  Sales Associate
20        AutoMobility        Umar Green            Automotive Technician
21        Green Energy        Vera Adams        Renewable Energy Engineer
22        Foodies Inc.        Will Baker                      Pastry Chef
23         Media House       Xena Martin                     Photographer
24      Travel Experts        Yara Perez                       Tour Guide
25       Logistics Pro     Zane Campbell                Warehouse Manager
26     Tech Innovators         Aaron Lee            IT Support Specialist
27  Creative Solutions       Bella Young                   Content Writer
28        Market Gurus      Chris Nelson          Market Research Analyst
29     Finance Experts       Dana Parker               Investment Advisor
30         HealthFirst          Eli Reed                Medical Assistant
31             EduTech      Fiona Turner           Instructional Designer
32       Retail Giants     George Hughes  Customer Service Representative
33        AutoMobility       Hannah Long              Automotive Engineer
34        Green Energy        Ian Rogers        Sustainability Consultant
35        Foodies Inc.      Jane Sanders               Restaurant Manager
36         Media House       Kyle Fisher                           Editor
37      Travel Experts      Luna Griffin                Travel Consultant
38       Logistics Pro      Mike Collins             Supply Chain Analyst
39     Tech Innovators       Nina Powell            Systems Administrator
40  Creative Solutions        Omar Price                     Art Director
41        Market Gurus  Paula Richardson     Digital Marketing Specialist
42     Finance Experts       Quincy Ward                   Credit Analyst
43         HealthFirst       Rose Barnes              Physician Assistant
44             EduTech      Steve Morgan           Educational Consultant
45       Retail Giants       Tara Murphy              Merchandise Planner
46        AutoMobility       Ulysses Fox                Vehicle Inspector
47        Green Energy    Valerie Cooper                Energy Consultant
48        Foodies Inc.     Wendy Simmons                        Sous Chef
49         Media House        Xander Lee             Broadcast Technician

In [58]:
com_dat.drop(2,axis=0)

          company_name     employee_name                         position
0      Tech Innovators     Alice Johnson                Software Engineer
1   Creative Solutions         Bob Smith                 Graphic Designer
3      Finance Experts       David Brown                Financial Analyst
4          HealthFirst         Eve Davis         Healthcare Administrator
5              EduTech      Frank Miller             Curriculum Developer
6        Retail Giants      Grace Wilson                    Store Manager
7         AutoMobility      Henry Taylor              Mechanical Engineer
8         Green Energy         Ivy Moore          Environmental Scientist
9         Foodies Inc.     Jack Anderson                             Chef
10         Media House     Kate Thompson                       Journalist
11      Travel Experts        Leo Walker                     Travel Agent
12       Logistics Pro        Mia Harris            Logistics Coordinator
13     Tech Innovators      Nathan Clark                   Data Scientist
14  Creative Solutions      Olivia Lewis                      UX Designer
15        Market Gurus     Paul Robinson                   SEO Specialist
16     Finance Experts        Quinn Hall                       Accountant
17         HealthFirst      Rachel Young                            Nurse
18             EduTech          Sam King            E-Learning Specialist
19       Retail Giants        Tina Scott                  Sales Associate
20        AutoMobility        Umar Green            Automotive Technician
21        Green Energy        Vera Adams        Renewable Energy Engineer
22        Foodies Inc.        Will Baker                      Pastry Chef
23         Media House       Xena Martin                     Photographer
24      Travel Experts        Yara Perez                       Tour Guide
25       Logistics Pro     Zane Campbell                Warehouse Manager
26     Tech Innovators         Aaron Lee            IT Support Specialist
27  Creative Solutions       Bella Young                   Content Writer
28        Market Gurus      Chris Nelson          Market Research Analyst
29     Finance Experts       Dana Parker               Investment Advisor
30         HealthFirst          Eli Reed                Medical Assistant
31             EduTech      Fiona Turner           Instructional Designer
32       Retail Giants     George Hughes  Customer Service Representative
33        AutoMobility       Hannah Long              Automotive Engineer
34        Green Energy        Ian Rogers        Sustainability Consultant
35        Foodies Inc.      Jane Sanders               Restaurant Manager
36         Media House       Kyle Fisher                           Editor
37      Travel Experts      Luna Griffin                Travel Consultant
38       Logistics Pro      Mike Collins             Supply Chain Analyst
39     Tech Innovators       Nina Powell            Systems Administrator
40  Creative Solutions        Omar Price                     Art Director
41        Market Gurus  Paula Richardson     Digital Marketing Specialist
42     Finance Experts       Quincy Ward                   Credit Analyst
43         HealthFirst       Rose Barnes              Physician Assistant
44             EduTech      Steve Morgan           Educational Consultant
45       Retail Giants       Tara Murphy              Merchandise Planner
46        AutoMobility       Ulysses Fox                Vehicle Inspector
47        Green Energy    Valerie Cooper                Energy Consultant
48        Foodies Inc.     Wendy Simmons                        Sous Chef
49         Media House        Xander Lee             Broadcast Technician

In [59]:
com_dat

          company_name     employee_name                         position
0      Tech Innovators     Alice Johnson                Software Engineer
1   Creative Solutions         Bob Smith                 Graphic Designer
2         Market Gurus       Carol White                Marketing Manager
3      Finance Experts       David Brown                Financial Analyst
4          HealthFirst         Eve Davis         Healthcare Administrator
5              EduTech      Frank Miller             Curriculum Developer
6        Retail Giants      Grace Wilson                    Store Manager
7         AutoMobility      Henry Taylor              Mechanical Engineer
8         Green Energy         Ivy Moore          Environmental Scientist
9         Foodies Inc.     Jack Anderson                             Chef
10         Media House     Kate Thompson                       Journalist
11      Travel Experts        Leo Walker                     Travel Agent
12       Logistics Pro        Mia Harris            Logistics Coordinator
13     Tech Innovators      Nathan Clark                   Data Scientist
14  Creative Solutions      Olivia Lewis                      UX Designer
15        Market Gurus     Paul Robinson                   SEO Specialist
16     Finance Experts        Quinn Hall                       Accountant
17         HealthFirst      Rachel Young                            Nurse
18             EduTech          Sam King            E-Learning Specialist
19       Retail Giants        Tina Scott                  Sales Associate
20        AutoMobility        Umar Green            Automotive Technician
21        Green Energy        Vera Adams        Renewable Energy Engineer
22        Foodies Inc.        Will Baker                      Pastry Chef
23         Media House       Xena Martin                     Photographer
24      Travel Experts        Yara Perez                       Tour Guide
25       Logistics Pro     Zane Campbell                Warehouse Manager
26     Tech Innovators         Aaron Lee            IT Support Specialist
27  Creative Solutions       Bella Young                   Content Writer
28        Market Gurus      Chris Nelson          Market Research Analyst
29     Finance Experts       Dana Parker               Investment Advisor
30         HealthFirst          Eli Reed                Medical Assistant
31             EduTech      Fiona Turner           Instructional Designer
32       Retail Giants     George Hughes  Customer Service Representative
33        AutoMobility       Hannah Long              Automotive Engineer
34        Green Energy        Ian Rogers        Sustainability Consultant
35        Foodies Inc.      Jane Sanders               Restaurant Manager
36         Media House       Kyle Fisher                           Editor
37      Travel Experts      Luna Griffin                Travel Consultant
38       Logistics Pro      Mike Collins             Supply Chain Analyst
39     Tech Innovators       Nina Powell            Systems Administrator
40  Creative Solutions        Omar Price                     Art Director
41        Market Gurus  Paula Richardson     Digital Marketing Specialist
42     Finance Experts       Quincy Ward                   Credit Analyst
43         HealthFirst       Rose Barnes              Physician Assistant
44             EduTech      Steve Morgan           Educational Consultant
45       Retail Giants       Tara Murphy              Merchandise Planner
46        AutoMobility       Ulysses Fox                Vehicle Inspector
47        Green Energy    Valerie Cooper                Energy Consultant
48        Foodies Inc.     Wendy Simmons                        Sous Chef
49         Media House        Xander Lee             Broadcast Technician

In [62]:
com_dat.drop(2,axis=0,inplace=True)

In [63]:
com_dat

          company_name     employee_name                         position
0      Tech Innovators     Alice Johnson                Software Engineer
1   Creative Solutions         Bob Smith                 Graphic Designer
3      Finance Experts       David Brown                Financial Analyst
4          HealthFirst         Eve Davis         Healthcare Administrator
5              EduTech      Frank Miller             Curriculum Developer
6        Retail Giants      Grace Wilson                    Store Manager
7         AutoMobility      Henry Taylor              Mechanical Engineer
8         Green Energy         Ivy Moore          Environmental Scientist
9         Foodies Inc.     Jack Anderson                             Chef
10         Media House     Kate Thompson                       Journalist
11      Travel Experts        Leo Walker                     Travel Agent
12       Logistics Pro        Mia Harris            Logistics Coordinator
13     Tech Innovators      Nathan Clark                   Data Scientist
14  Creative Solutions      Olivia Lewis                      UX Designer
15        Market Gurus     Paul Robinson                   SEO Specialist
16     Finance Experts        Quinn Hall                       Accountant
17         HealthFirst      Rachel Young                            Nurse
18             EduTech          Sam King            E-Learning Specialist
19       Retail Giants        Tina Scott                  Sales Associate
20        AutoMobility        Umar Green            Automotive Technician
21        Green Energy        Vera Adams        Renewable Energy Engineer
22        Foodies Inc.        Will Baker                      Pastry Chef
23         Media House       Xena Martin                     Photographer
24      Travel Experts        Yara Perez                       Tour Guide
25       Logistics Pro     Zane Campbell                Warehouse Manager
26     Tech Innovators         Aaron Lee            IT Support Specialist
27  Creative Solutions       Bella Young                   Content Writer
28        Market Gurus      Chris Nelson          Market Research Analyst
29     Finance Experts       Dana Parker               Investment Advisor
30         HealthFirst          Eli Reed                Medical Assistant
31             EduTech      Fiona Turner           Instructional Designer
32       Retail Giants     George Hughes  Customer Service Representative
33        AutoMobility       Hannah Long              Automotive Engineer
34        Green Energy        Ian Rogers        Sustainability Consultant
35        Foodies Inc.      Jane Sanders               Restaurant Manager
36         Media House       Kyle Fisher                           Editor
37      Travel Experts      Luna Griffin                Travel Consultant
38       Logistics Pro      Mike Collins             Supply Chain Analyst
39     Tech Innovators       Nina Powell            Systems Administrator
40  Creative Solutions        Omar Price                     Art Director
41        Market Gurus  Paula Richardson     Digital Marketing Specialist
42     Finance Experts       Quincy Ward                   Credit Analyst
43         HealthFirst       Rose Barnes              Physician Assistant
44             EduTech      Steve Morgan           Educational Consultant
45       Retail Giants       Tara Murphy              Merchandise Planner
46        AutoMobility       Ulysses Fox                Vehicle Inspector
47        Green Energy    Valerie Cooper                Energy Consultant
48        Foodies Inc.     Wendy Simmons                        Sous Chef
49         Media House        Xander Lee             Broadcast Technician

In [67]:
com_dat.drop((i for i in [42,34,5,7]),axis=0,inplace=True)

In [68]:
com_dat

          company_name     employee_name                         position
0      Tech Innovators     Alice Johnson                Software Engineer
1   Creative Solutions         Bob Smith                 Graphic Designer
3      Finance Experts       David Brown                Financial Analyst
4          HealthFirst         Eve Davis         Healthcare Administrator
6        Retail Giants      Grace Wilson                    Store Manager
8         Green Energy         Ivy Moore          Environmental Scientist
9         Foodies Inc.     Jack Anderson                             Chef
10         Media House     Kate Thompson                       Journalist
11      Travel Experts        Leo Walker                     Travel Agent
12       Logistics Pro        Mia Harris            Logistics Coordinator
13     Tech Innovators      Nathan Clark                   Data Scientist
14  Creative Solutions      Olivia Lewis                      UX Designer
15        Market Gurus     Paul Robinson                   SEO Specialist
16     Finance Experts        Quinn Hall                       Accountant
17         HealthFirst      Rachel Young                            Nurse
18             EduTech          Sam King            E-Learning Specialist
19       Retail Giants        Tina Scott                  Sales Associate
20        AutoMobility        Umar Green            Automotive Technician
21        Green Energy        Vera Adams        Renewable Energy Engineer
22        Foodies Inc.        Will Baker                      Pastry Chef
23         Media House       Xena Martin                     Photographer
24      Travel Experts        Yara Perez                       Tour Guide
25       Logistics Pro     Zane Campbell                Warehouse Manager
26     Tech Innovators         Aaron Lee            IT Support Specialist
27  Creative Solutions       Bella Young                   Content Writer
28        Market Gurus      Chris Nelson          Market Research Analyst
29     Finance Experts       Dana Parker               Investment Advisor
30         HealthFirst          Eli Reed                Medical Assistant
31             EduTech      Fiona Turner           Instructional Designer
32       Retail Giants     George Hughes  Customer Service Representative
33        AutoMobility       Hannah Long              Automotive Engineer
35        Foodies Inc.      Jane Sanders               Restaurant Manager
36         Media House       Kyle Fisher                           Editor
37      Travel Experts      Luna Griffin                Travel Consultant
38       Logistics Pro      Mike Collins             Supply Chain Analyst
39     Tech Innovators       Nina Powell            Systems Administrator
40  Creative Solutions        Omar Price                     Art Director
41        Market Gurus  Paula Richardson     Digital Marketing Specialist
43         HealthFirst       Rose Barnes              Physician Assistant
44             EduTech      Steve Morgan           Educational Consultant
45       Retail Giants       Tara Murphy              Merchandise Planner
46        AutoMobility       Ulysses Fox                Vehicle Inspector
47        Green Energy    Valerie Cooper                Energy Consultant
48        Foodies Inc.     Wendy Simmons                        Sous Chef
49         Media House        Xander Lee             Broadcast Technician

In [70]:
com_dat.reset_index(drop=True,inplace=True)

In [71]:
com_dat

          company_name     employee_name                         position
0      Tech Innovators     Alice Johnson                Software Engineer
1   Creative Solutions         Bob Smith                 Graphic Designer
2      Finance Experts       David Brown                Financial Analyst
3          HealthFirst         Eve Davis         Healthcare Administrator
4        Retail Giants      Grace Wilson                    Store Manager
5         Green Energy         Ivy Moore          Environmental Scientist
6         Foodies Inc.     Jack Anderson                             Chef
7          Media House     Kate Thompson                       Journalist
8       Travel Experts        Leo Walker                     Travel Agent
9        Logistics Pro        Mia Harris            Logistics Coordinator
10     Tech Innovators      Nathan Clark                   Data Scientist
11  Creative Solutions      Olivia Lewis                      UX Designer
12        Market Gurus     Paul Robinson                   SEO Specialist
13     Finance Experts        Quinn Hall                       Accountant
14         HealthFirst      Rachel Young                            Nurse
15             EduTech          Sam King            E-Learning Specialist
16       Retail Giants        Tina Scott                  Sales Associate
17        AutoMobility        Umar Green            Automotive Technician
18        Green Energy        Vera Adams        Renewable Energy Engineer
19        Foodies Inc.        Will Baker                      Pastry Chef
20         Media House       Xena Martin                     Photographer
21      Travel Experts        Yara Perez                       Tour Guide
22       Logistics Pro     Zane Campbell                Warehouse Manager
23     Tech Innovators         Aaron Lee            IT Support Specialist
24  Creative Solutions       Bella Young                   Content Writer
25        Market Gurus      Chris Nelson          Market Research Analyst
26     Finance Experts       Dana Parker               Investment Advisor
27         HealthFirst          Eli Reed                Medical Assistant
28             EduTech      Fiona Turner           Instructional Designer
29       Retail Giants     George Hughes  Customer Service Representative
30        AutoMobility       Hannah Long              Automotive Engineer
31        Foodies Inc.      Jane Sanders               Restaurant Manager
32         Media House       Kyle Fisher                           Editor
33      Travel Experts      Luna Griffin                Travel Consultant
34       Logistics Pro      Mike Collins             Supply Chain Analyst
35     Tech Innovators       Nina Powell            Systems Administrator
36  Creative Solutions        Omar Price                     Art Director
37        Market Gurus  Paula Richardson     Digital Marketing Specialist
38         HealthFirst       Rose Barnes              Physician Assistant
39             EduTech      Steve Morgan           Educational Consultant
40       Retail Giants       Tara Murphy              Merchandise Planner
41        AutoMobility       Ulysses Fox                Vehicle Inspector
42        Green Energy    Valerie Cooper                Energy Consultant
43        Foodies Inc.     Wendy Simmons                        Sous Chef
44         Media House        Xander Lee             Broadcast Technician

In [73]:
com_dat.to_csv('company data.csv',index=False)

In [78]:
com_dat.to_excel('company data.xlsx',index=False)